### 1. 数据读入

In [1]:
import pandas as pd
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### 2. 数据归一化

In [2]:
def normalize_feature(df):
    return df.apply(lambda column: (column - column.mean())/column.std())

df = normalize_feature(df[['R&D Spend', 'Marketing Spend', 'Profit']])
df.head()

   R&D Spend  Marketing Spend    Profit
0   1.996146         2.132295  1.990990
1   1.936203         1.904267  1.979335
2   1.736731         1.610180  1.960934
3   1.539157         1.407916  1.758771
4   1.489812         1.268648  1.344094

In [3]:
# 数据分析（3D）
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
fig = plt.figure()
ax = plt.axes(projection='3d')
ax.set_xlabel('R&D Spend')
ax.set_ylabel('Marketing Spend')
ax.set_zlabel('Profit')
ax.scatter3D(df['R&D Spend'], df['Marketing Spend'], df['Profit'], c=df['Profit'], cmap='Reds')

### 3. 数据处理

In [4]:
import numpy as np

# 为了方便矩阵相乘，添加一列全为1的x0
ones = pd.DataFrame({'ones': np.ones(len(df))})  # ones是n行1列的数据框，表示x0恒为1
df = pd.concat([ones, df], axis=1)  # 根据列合并数据

X_data = np.array(df[df.columns[0:3]])
Y_data = np.array(df[df.columns[-1]]).reshape(len(df), 1)

print(X_data.shape, type(X_data))
print(Y_data.shape, type(Y_data))
df.head()

(50, 3) <class 'numpy.ndarray'>
(50, 1) <class 'numpy.ndarray'>

   ones  R&D Spend  Marketing Spend    Profit
0   1.0   1.996146         2.132295  1.990990
1   1.0   1.936203         1.904267  1.979335
2   1.0   1.736731         1.610180  1.960934
3   1.0   1.539157         1.407916  1.758771
4   1.0   1.489812         1.268648  1.344094

### 4. 创建线性回归模型（数据流图）

In [5]:
import tensorflow as tf

tf.reset_default_graph() #  https://www.cnblogs.com/demo-deng/p/10365889.html

alpha = 0.01  # 学习率
epoch = 500 # 训练全量数据集的轮数

# 创建线性回归模型（数据流图）
# 输入X, 形状[50,3]
X = tf.placeholder(tf.float32, X_data.shape)
# 输入Y,形状[50,1]
Y = tf.placeholder(tf.float32, Y_data.shape)

# 权重变量W，形状[3,1]
# 存疑：tf.get_variable_scope().reuse_variables()  # https://cloud.tencent.com/developer/article/1335672
W = tf.get_variable("weights", (X_data.shape[1], 1), initializer=tf.constant_initializer())

# 假设函数 h(x) = w0*x0+w1*x1+w2*x2,其中x0恒为1
# 推理值 Y_pred 形状[47,1]
Y_pred = tf.matmul(X, W)

# 损失函数采用最小二乘法，Y_pred - y 是形如[47,1]的向量
# tf.matmul(a, b, transpose_a=True) 表示： 矩阵a的转置乘矩阵b,及[1,47] x [47,1]

# 损失函数操作 loss
loss_op = 1 / (2 * len(X_data)) * tf.matmul((Y_pred - Y), (Y_pred - Y), transpose_a=True)
# 随机梯度下降优化器 opt
opt = tf.train.GradientDescentOptimizer(learning_rate=alpha)
# 单步训练操作 train_op
train_op = opt.minimize(loss_op)

### 5. 创建会话（运行环境）

In [7]:
# 创建会话（运行环境）
with tf.Session() as sess:
    # 初始化全局变量
    sess.run(tf.global_variables_initializer())
    
    # 创建 FileWriter 实例
    writer = tf.summary.FileWriter("./summary/linear-regression-0/", sess.graph)
    # 开始训练模型
    # 因为训练集较小，所以不采用批梯度下降优化算法，每次都采用全量数据训练
    for e in range(1, epoch+1):
        sess.run(train_op, feed_dict={X: X_data, Y: Y_data})
        if e % 10 == 0:
            loss, w = sess.run([loss_op, W], feed_dict={X: X_data, Y: Y_data})
            log_str = "Epoch %d \t Loss=%.4g \t Model: y = %.4gx1 + %.4gx2 + %.4g"
            print(log_str % (e, loss, w[1], w[2], w[0]))
    

writer.close()
# tensorboard --logdir ./ --host localhost

Epoch 10 	 Loss=0.3661 	 Model: y = 0.08908x1 + 0.06728x2 + -8.941e-10
Epoch 20 	 Loss=0.2775 	 Model: y = 0.1656x1 + 0.1226x2 + -4.098e-10
Epoch 30 	 Loss=0.2139 	 Model: y = 0.2315x1 + 0.1679x2 + 1.08e-09
Epoch 40 	 Loss=0.1682 	 Model: y = 0.2885x1 + 0.2047x2 + -6.706e-10
Epoch 50 	 Loss=0.1352 	 Model: y = 0.3378x1 + 0.2345x2 + -2.235e-10
Epoch 60 	 Loss=0.1113 	 Model: y = 0.3807x1 + 0.2583x2 + 3.725e-10
Epoch 70 	 Loss=0.09382 	 Model: y = 0.4181x1 + 0.2772x2 + -2.794e-10
Epoch 80 	 Loss=0.08101 	 Model: y = 0.4508x1 + 0.2919x2 + 1.863e-11
Epoch 90 	 Loss=0.07152 	 Model: y = 0.4796x1 + 0.3031x2 + 9.313e-10
Epoch 100 	 Loss=0.06441 	 Model: y = 0.505x1 + 0.3114x2 + 1.621e-09
Epoch 110 	 Loss=0.05901 	 Model: y = 0.5275x1 + 0.3173x2 + 2.403e-09
Epoch 120 	 Loss=0.05484 	 Model: y = 0.5476x1 + 0.3212x2 + 3.241e-09
Epoch 130 	 Loss=0.05157 	 Model: y = 0.5656x1 + 0.3235x2 + 3.669e-09
Epoch 140 	 Loss=0.04895 	 Model: y = 0.5818x1 + 0.3243x2 + 3.371e-09
Epoch 150 	 Loss=0.04681 	 Model: y = 0.5964x1 + 0.3241x2 + 3.576e-09
Epoch 160 	 Loss=0.04502 	 Model: y = 0.6098x1 + 0.3229x2 + 3.781e-09
Epoch 170 	 Loss=0.04351 	 Model: y = 0.622x1 + 0.3209x2 + 3.967e-09
Epoch 180 	 Loss=0.04219 	 Model: y = 0.6331x1 + 0.3183x2 + 4.414e-09
Epoch 190 	 Loss=0.04103 	 Model: y = 0.6435x1 + 0.3153x2 + 4.917e-09
Epoch 200 	 Loss=0.04 	 Model: y = 0.6531x1 + 0.3118x2 + 4.806e-09
Epoch 210 	 Loss=0.03906 	 Model: y = 0.662x1 + 0.3081x2 + 5.066e-09
Epoch 220 	 Loss=0.0382 	 Model: y = 0.6704x1 + 0.3041x2 + 5.141e-09
Epoch 230 	 Loss=0.03741 	 Model: y = 0.6782x1 + 0.2999x2 + 5.309e-09
Epoch 240 	 Loss=0.03668 	 Model: y = 0.6856x1 + 0.2956x2 + 5.607e-09
Epoch 250 	 Loss=0.036 	 Model: y = 0.6926x1 + 0.2912x2 + 5.83e-09
Epoch 260 	 Loss=0.03537 	 Model: y = 0.6992x1 + 0.2868x2 + 5.811e-09
Epoch 270 	 Loss=0.03477 	 Model: y = 0.7056x1 + 0.2823x2 + 6.277e-09
Epoch 280 	 Loss=0.0342 	 Model: y = 0.7116x1 + 0.2779x2 + 6.519e-09
Epoch 290 	 Loss=0.03367 	 Model: y = 0.7174x1 + 0.2734x2 + 7.004e-09
Epoch 300 	 Loss=0.03317 	 Model: y = 0.7229x1 + 0.269x2 + 7.395e-09
Epoch 310 	 Loss=0.0327 	 Model: y = 0.7282x1 + 0.2646x2 + 7.618e-09
Epoch 320 	 Loss=0.03226 	 Model: y = 0.7333x1 + 0.2603x2 + 7.618e-09
Epoch 330 	 Loss=0.03183 	 Model: y = 0.7382x1 + 0.2561x2 + 7.749e-09
Epoch 340 	 Loss=0.03143 	 Model: y = 0.743x1 + 0.2519x2 + 7.6e-09
Epoch 350 	 Loss=0.03106 	 Model: y = 0.7476x1 + 0.2478x2 + 8.084e-09
Epoch 360 	 Loss=0.0307 	 Model: y = 0.752x1 + 0.2438x2 + 8.009e-09
Epoch 370 	 Loss=0.03036 	 Model: y = 0.7563x1 + 0.2398x2 + 8.103e-09
Epoch 380 	 Loss=0.03004 	 Model: y = 0.7604x1 + 0.236x2 + 7.842e-09
Epoch 390 	 Loss=0.02974 	 Model: y = 0.7644x1 + 0.2322x2 + 8.121e-09
Epoch 400 	 Loss=0.02945 	 Model: y = 0.7683x1 + 0.2285x2 + 8.27e-09
Epoch 410 	 Loss=0.02918 	 Model: y = 0.7721x1 + 0.2249x2 + 8.419e-09
Epoch 420 	 Loss=0.02892 	 Model: y = 0.7758x1 + 0.2214x2 + 8.382e-09
Epoch 430 	 Loss=0.02867 	 Model: y = 0.7793x1 + 0.2179x2 + 8.419e-09
Epoch 440 	 Loss=0.02844 	 Model: y = 0.7828x1 + 0.2146x2 + 8.55e-09
Epoch 450 	 Loss=0.02822 	 Model: y = 0.7862x1 + 0.2113x2 + 8.978e-09
Epoch 460 	 Loss=0.02801 	 Model: y = 0.7894x1 + 0.2081x2 + 9.034e-09
Epoch 470 	 Loss=0.02782 	 Model: y = 0.7926x1 + 0.205x2 + 9.295e-09
Epoch 480 	 Loss=0.02763 	 Model: y = 0.7957x1 + 0.202x2 + 9.481e-09
Epoch 490 	 Loss=0.02745 	 Model: y = 0.7987x1 + 0.199x2 + 9.667e-09
Epoch 500 	 Loss=0.02729 	 Model: y = 0.8016x1 + 0.1962x2 + 9.444e-09